<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcar Consulta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <h1>Cadastro Paciente</h1>
    <form th:action="@{/consultas/salvar}" method="POST" th:object="${consulta}">

        <input type="hidden" name="idConsulta" th:field="*{idConsulta}" readonly/>
        <br>

        <label for="obsConsulta"></label>
        <input type="text" name="obsConsulta" th:field="*{obsConsulta}" placeholder="Observação"/>
        <br>

        <label for="dataehoraConsulta"></label>
        <input type="datetime-local" name="dataehoraConsulta" th:field="*{dataehoraConsulta}"/>
        <br>

        <label>Medico Responsável:</label>
        <select th:field="*{medico}" required>
            <option value="">-- Selecione --</option>
            <option th:each="cat : ${medicos}"
                    th:value="${cat.idMedico}"
                    th:text="${cat.nomeMedico}">
            </option>
        </select><br><br>

        
        <label>Paciente:</label>
        <select th:field="*{paciente}" required>
            <option value="">-- Selecione --</option>
            <option th:each="cat : ${pacientes}"
                    th:value="${cat.idPaciente}"
                    th:text="${cat.nomePaciente}">
            </option>
        </select><br><br>

        <input type="submit" value="salvar">
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>